$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.container{
    height:800px;
    width:800px;
    position:relative;
    display:block;
    margin:0px;
    padding:100px;
    

    img{
    	width:100%;
    	height:100%;
    	position:absolute;


	}
 }

 

